@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-color-dark;
  }
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: transparent;
  }

  ::-webkit-scrollbar
  {
    width: 4px;
    background-color: #F5F5F500;
  }

  ::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.3);
    background-color: #232323;
  }

  img {
    -webkit-user-drag: none;
  }
}